#box1{
    border-radius: 25px 10px 38px 27px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
  }
  
  #box2 {
    border-radius: 25px 115px 5px 15px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
    background-color: aqua;
  }
  
  #box3 {
    border-radius: 25px 227px 233px 4px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
    border: 2px solid green;
  }

  #box4 {
    border-radius: 25px;
    background: red;
    padding: 20px;
    width: 200px;
    height: 150px;
  }
  
  #box5 {
    border-radius: 15px 90px 15px 90px;
    border: 2px solid orange;
    padding: 20px;
    width: 200px;
    height: 150px;
    background-color: orange;
  }

#p1 {
    background-color: rgba(255, 0, 0, 0.1);
}
#p2 {
    background-color: rgba(255, 0, 0, 0.4);
}
#p3 {
    background-color: rgba(255, 0, 0, 0.7);
}

#p4 {
    background-color: rgba(255, 0, 0, 1);
}

#grad1 {
    width: 400px;
    height: 200px;
    background-image: linear-gradient(red, yellow);
    text-align: center;
  }

  #grad2 {
    width: 400px;
    height: 200px;
    background-image: linear-gradient(to left, green, blue);
    text-align: left;
    color: white;
    transform: rotate(20deg);
  }

  #shadow1 {
      width: 500px;
      height: 250px;
      background-color: lightcoral;
    box-shadow: 10px 10px;
  }

  #shadow2 {
    width: 500px;
    height: 250px;
    background-color: lightcyan;
  box-shadow: 10px 10px;
}

#shadow1 p {
    text-shadow: 2px 2px 5px yellow;
  }

  #shadow2 p {
    text-shadow: 2px 2px 5px green;
  }

  #shadow3 {
    width: 250px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.6), 0 10px 20px 0 rgba(0, 0, 0, 0.6);
    text-align: center;
  }

  div.container {
    padding: 10px;
  }

@font-face {
    font-family: FuenteAclonica;
    src: url(../aclonica/Aclonica.ttf);
  }

.grad {
    font-family: FuenteAclonica;
  }

  #trans1{
    background-color: lightskyblue;
    border: 1px solid black;
    width: 250px;
    height: 150px;
    transform: translate(50px, 100px);
  }

  #trans2{
    background-color: lightskyblue;
    border: 1px solid black;
    width: 250px;
    height: 150px;
    transform: rotate(20deg);
  }

  #trans3{
    background-color: lightskyblue;
    border: 1px solid black;
    width: 250px;
    height: 150px;
    transform: scale(0.5, 0.5);
  }

  #transfor1{
    background-color: coral;
    width: 300px;
    height: 200px;

  }

  #transfor1:hover{
    width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s;
  transition: width 2s;
  animation-name: arnau;
  animation-duration: 4s;
  }

@keyframes arnau {
  from {background-color: coral;}
  to {background-color: red;}
}

#anim1{
  background-color: red;
  width: 250px;
  height: 200px;
  animation-name: ex8;
  animation-duration: 4s;
  animation-iteration-count: 3;
  position: relative;
}

@keyframes ex8 {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

#ex9{
  column-count: 3;
  border: 1px solid black;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: lightblue;
}