#table, tr, th, td{
    border: 3px solid black;
    border-collapse: collapse;
}

th{
    background-color: gray;
}

.img1{
    width: 250px;
    height: 250px;
}

@import "lesshat";

.container{   
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.div-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    .div-img.hidden{
          overflow: hidden;
      }
    .img{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 250px;
        transition: 2s; 
        transform:scale(1.2);
        -ms-transform:scale(1.2); // IE 9 
        -moz-transform:scale(1.2); // Firefox 
        -webkit-transform:scale(1.2); // Safari and Chrome 
        -o-transform:scale(1.2); // Opera 
        -webkit-transition: all 500ms ease-in-out; // IE 9
        -moz-transition: all 500ms ease-in-out; // Firefox
        -ms-transition: all 500ms ease-in-out; // Safari and Chrome 
        -o-transition: all 500ms ease-in-out; // Opera       
    }        
    .img:hover{
            transform:scale(1);
            -ms-transform:scale(1); // IE 9 
            -moz-transform:scale(1); // Firefox 
            -webkit-transform:scale(1); // Safari and Chrome 
            -o-transform:scale(1); // Opera
        }


@import "lesshat";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.div-img2{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    #img3{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;   
        transition: 1s;
        transform:scale(1);
        -ms-transform:scale(1); // IE 9 
        -moz-transform:scale(1); // Firefox 
        -webkit-transform:scale(1); // Safari and Chrome 
        -o-transform:scale(1); // Opera 
        -webkit-transition: all 500ms ease-in-out; // IE 9
        -moz-transition: all 500ms ease-in-out; // Firefox
        -ms-transition: all 500ms ease-in-out; // Safari and Chrome 
        -o-transition: all 500ms ease-in-out; // Opera     
    }      
    #text{
        font-family: 'Open Sans';
        padding-top: 5px;
        display:block;
        text-align: center;
        width: 100%;   
        transform:translate(0px);
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -ms-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        opacity: 0;
        transition: 1s;
    }
    
    #img3:hover{
            transform:scale(0.8);
            -ms-transform:scale(0.8); // IE 9 
            -moz-transform:scale(0.8); // Firefox 
            -webkit-transform:scale(0.8); // Safari and Chrome 
            -o-transform:scale(0.8); // Opera

        }
    #img3:hover ~ #text{
            transform:translate(0px,-20px);
            opacity: 1;
        }


        .div-img3{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
           .div-img3 .img6{
                display:block;
                margin-left: auto;
                margin-right: auto;
                width: 250px;
                height: 250px;
                transition: 2s;
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg); // IE 9
                -moz-transform: rotate(0deg); // Firefox
                -o-transform: rotate(0deg); // Safari and Chrome
                -ms-transform: rotate(0deg); // Opera
                -webkit-transition: all 500ms ease-in-out; // IE 9
                -moz-transition: all 500ms ease-in-out; // Firefox
                -ms-transition: all 500ms ease-in-out; // Safari and Chrome 
                -o-transition: all 500ms ease-in-out; // Opera    
            }      
            .div-img3 .img6:hover{
                    transform: rotate(-20deg);
                    -webkit-transform: rotate(-20deg); // IE 9
                    -moz-transform: rotate(-20deg); // Firefox
                    -o-transform: rotate(-20deg); // Safari and Chrome
                    -ms-transform: rotate(-20deg); // Opera
            }


            .div-img11{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
                .div-img11.hidden{
                      overflow: hidden;
                  }
                .img11{
                    display:block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                    transition: 2s;  
                    transform:scale(1);
                    -ms-transform:scale(1); // IE 9 
                    -moz-transform:scale(1); // Firefox 
                    -webkit-transform:scale(1); // Safari and Chrome 
                    -o-transform:scale(1); // Opera 
                    -webkit-transition: all 500ms ease-in-out; // IE 9
                    -moz-transition: all 500ms ease-in-out; // Firefox
                    -ms-transition: all 500ms ease-in-out; // Safari and Chrome 
                    -o-transition: all 500ms ease-in-out; // Opera       
                }        
                .div-img11 .img11:hover{
                        transform:scale(1.2);
                        -ms-transform:scale(1.2); // IE 9 
                        -moz-transform:scale(1.2); // Firefox 
                        -webkit-transform:scale(1.2); // Safari and Chrome 
                        -o-transform:scale(1.2); // Opera
                    }
